body {
    display: block;
    background-color:black;
    background-image: url("../imagens/testee.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1450px 780px;
}

h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    text-align: center;
    text-shadow: 0.1em 0.1em rgb(7, 5, 5)
}
