body {
    background-color: black;
    background-image: url("../imagens/hogwarts.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@font-face {
    font-family: wizard;
    src: url(../fontes/Wizardry\ Night.ttf);
}

.aviso {
    background-color: black;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    color: white;
    text-align: center;
}

#carta {
    background-image: url("../imagens/papel.png");
    padding: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 900px 1100px;
    height: 1000px;
    width: 800px;
}

h1 {
    font-size: 30px;
    color: black;
    text-align: center;
    line-height: 7px;
}

.info {
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}

p {
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: left;
    line-height: 7px;

}

#confirmacao {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    text-align: center;
}

a {
    color:white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: none;
}

button {
    background-color: rgba(0, 0, 0, 0.699);
    color: white;
    width: 130px;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
